<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        tools:targetApi="31">
        <activity
            android:name=".ActadeEntrega"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".RegistraAduana"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Aduanas"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PersonalNuctec"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Firmas"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".InternoRD"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CorrectivoRD"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".InternoRF"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CorrectivoRF"
            android:exported="false"
            android:parentActivityName=".Ticketslist"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android_support.PARENT_ACTIVITY"
                android:value=".Ticketslist" />
        </activity>
        <activity
            android:name=".EditaDatos"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EditaTexto"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog.Alert">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AgregaANAM"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog.Alert"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EditaUsuario"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ListaUsuarios"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PersonalANAM"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PreventivoRD"
            android:fitsSystemWindows="true"
            android:parentActivityName=".Ticketslist"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android_support.PARENT_ACTIVITY"
                android:value=".Ticketslist" />
        </activity>
        <activity
            android:name=".VisorPDF"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/file_paths" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bmr.xproyect.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".FotosExtra"
            android:exported="false"
            android:parentActivityName=".PreventivoRF"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog.Alert">
            <meta-data
                android:name="android_support.PARENT_ACTIVITY"
                android:value=".PreventivoRF" />
        </activity>
        <activity
            android:name=".SelectFotoExtra"
            android:exported="false"
            android:parentActivityName=".FotosExtra"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog.Alert">
            <meta-data
                android:name="android_support.PARENT_ACTIVITY"
                android:value=".FotosExtra" />
        </activity>
        <activity
            android:name=".SelectFoto"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PreventivoRF"
            android:exported="false"
            android:parentActivityName=".Ticketslist"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android_support.PARENT_ACTIVITY"
                android:value=".Ticketslist" />
        </activity>
        <activity
            android:name=".Ticketslist"
            android:exported="false"
            android:parentActivityName=".Servicios"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android_support.PARENT_ACTIVITY"
                android:value=".Servicios" />
        </activity>
        <activity
            android:name=".Servicios"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value=".PantallaPrincipal" />
        </activity>
        <activity
            android:name=".PantallaPrincipal"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Registro_Usuarios"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android_support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>